{% extends "base_auth.html" %}
{% block title %}Reset password{% endblock %}
{% block main %}
<form action='forgot' class="form-signin" method='POST'>
    <img class="mb-4" height="72" src="{{ url_for('static', filename='logo.png') }}"
         title="yes, this is a screenshot from logomaster">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
    <input autofocus class="form-control mt-1" id="inputEmail" maxlength="80" name="email" placeholder="Email address"
           required type="email">
    <button class="btn btn-lg btn-primary btn-block my-2" type="submit">Email me</button>
    <a class="text-decoration-none" href="login?{{ query_string }}">or sign in</a> /
    <a class="text-decoration-none" href="register?{{ query_string }}">or sign up</a>
</form>
{% endblock %}
