{% extends "base_auth.html" %}
{% block title %}Sign In{% endblock %}
{% block main %}
<form action='login?{{ query_string }}' class="form-signin" method='POST'>
    {{ super() }}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    {{ form.email(size=80, class_="form-control", placeholder="Email address") }}
    {{ form.hidden_tag() }}
    <div class="input-group show-password" id="show_hide_password">
        {{ form.password(size=80, class_="form-control", placeholder="Password") }}
        <div class="input-group-append">
            <span class="input-group-text"><a class="text-dark" href=""><i class="fa fa-eye"></i></a></span>
        </div>
    </div>
    {{ form.submit(class_="btn btn-lg btn-primary btn-block my-2") }}
    <a class="text-decoration-none" href="register?{{ query_string }}">or sign up</a> /
    <a class="text-decoration-none" href="forgot">forgot password</a>
</form>
{% endblock %}