{% extends "base_auth.html" %}
{% block title %}New password{% endblock %}
{% block main %}
<form action='{{ token }}' class="form-signin" method='POST'>
    {{ super() }}
    <h1 class="h3 mb-3 font-weight-normal">New password</h1>
    <input autofocus class="form-control" id="inputPassword" name="password" placeholder="New password" required
           type="password">
    <button class="btn btn-lg btn-primary btn-block my-2" type="submit">Change password</button>
    <a class="text-decoration-none" href="{{ url_for('auth.login') }}">or sign in</a> /
    <a class="text-decoration-none" href="{{ url_for('auth.register') }}">or sign up</a>
</form>
{% endblock %}
