{% extends "base_auth.html" %}
{% block title %}New password{% endblock %}
{% block main %}
<form action='{{ token }}' class="form-signin" method='POST'>
    {{ super() }}
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 font-weight-normal">New password</h1>
    <div class="input-group" id="show_hide_password">
        {{ form.password(size=80, class_="form-control", placeholder="Password") }}
        <div class="input-group-append">
            <span class="input-group-text"><a class="text-dark" href=""><i class="fa fa-eye"></i></a></span>
        </div>
    </div>
    {{ form.submit(class_="btn btn-lg btn-primary btn-block my-2") }}
    <a class="text-decoration-none" href="{{ url_for('auth.login') }}">or sign in</a> /
    <a class="text-decoration-none" href="{{ url_for('auth.register') }}">or sign up</a>
</form>
{% endblock %}
