<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport"/>
    <title>{% block title %}{% endblock %} - Togger</title>
    {% block scripts %}
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='favicon.png') }}" rel=icon sizes="57x57" type="image/png">
    <!--  datepicker  -->
    <script crossorigin="anonymous"
            integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8="
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css"
          integrity="sha256-FAOaXTpl90/K8cXmSdsskbQN3nKYulhCpPbcFzGTWKI=" rel="stylesheet"/>
    <!-- togger -->
    <script src="{{ url_for('static', filename='togger-utils.js') }}"></script>
    <link href="{{ url_for(
    'static', filename='togger.css') }}" rel='stylesheet'/>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a class="navbar-brand" href="/">Togger</a>
    <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   id="dropdown01">Calendar: {{ current_role().calendar.name }}</a>
                <div aria-labelledby="dropdown01" class="dropdown-menu">
                    <form action="/set_default" method="post">
                        {% for role in roles() %}
                        {% if role.is_default %}
                        <button class="dropdown-item active show" name="calendarId" type="submit"
                                value="{{ role.calendar_id }}">{{ role.calendar.name }}
                        </button>
                        {% else %}
                        <button class="dropdown-item show" name="calendarId" type="submit"
                                value="{{ role.calendar_id }}">{{ role.calendar.name }}
                        </button>
                        {% endif %}
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item show" name="createNewCalendar" type="submit"
                                value="createNewCalendar">Create new...
                        </button>
                    </form>
                </div>
            </li>

            {% if current_role().can_edit_events %}
                        <li class="nav-item">

            <button class="btn btn-secondary"
                    onclick="renderModal('/render_share')" type="button">
                Share
            </button>
                                        </li>

            {% endif %}
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/report">Report</a>
            </li></ul>
        <div class="btn-group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown"
                    type="button">
                {{ current_user.username }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/settings">Settings</a>
                <button class="dropdown-item" onclick="renderModal('/render_password')" type="button">Password</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" onclick="location.href='auth/logout';" type="button">Logout</button>
            </div>
        </div>
    </div>
</nav>
{% block main %}{% endblock %}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="modal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">
        </div>
    </div>
</div>


</body>
</html>
