            <div class="modal-header">
                <h5 class="modal-title">Edit event</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <form id="modalForm" onsubmit="return false">
                    <input hidden id="allDay" name="allDay" readonly type="text" value="{{ event.all_day }}">
                    <input hidden id="startDateTime" name="startDateTime" readonly type="text"
                           value="{{ event.start }}">
                    <input hidden id="endDateTime" name="endDateTime" readonly type="text" value="{{ event.end }}">
                    <input hidden id="eventId" name="eventId" readonly type="text" value="{{ event.id }}">
                    <div class="form-group">

                        <input class="form-control mt-2" id="eventTitle" name="eventTitle" placeholder="put event name"
                               type="text" value="{{ event.title }}">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="isRecurrent" name="isRecurrent" type="checkbox">
                        <label class="form-check-label" for="isRecurrent">Repeat every week next 5 weeks</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary order-3" form="modalForm" type="submit"
                        onclick="submit_modal(modalForm, modal, 'postEvent')">Save changes</button>
                <button class="btn btn-danger mr-auto order-1" form="modalForm" onclick="submit_modal(modalForm, modal, 'removeEvent')"
                type="submit">
                Delete
                </button>
                <button class="btn btn-secondary order-2" data-dismiss="modal" type="button">Close</button>

            </div>