<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link rel=icon href="{{ url_for('static', filename='favicon.png') }}" sizes="57x57" type="image/png">
    <title>Togger</title>

    <!-- Bootstrap core CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
</head>

<body class="text-center">

<form class="form-signin" action='login' method='POST'>
     <img title="yes, this is a screenshot from logomaster" class="mb-4" height="72" src="{{ url_for('static', filename='logo.png') }}" >
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger" role="alert">"{{ message }}"</div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label class="sr-only" for="inputEmail">Email address</label>
    <input autofocus class="form-control" name="email" id="inputEmail" placeholder="Email address" required type="email">
    <label class="sr-only" for="inputPassword">Password</label>
    <input class="form-control" name="password" id="inputPassword" placeholder="Password" required type="password">
    <button class="btn btn-lg btn-primary btn-block mb-2" type="submit">Sign in</button>
        <a href="register" class="text-decoration-none">or sign up</a>
</form>
</body>
</html>
