{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block scripts %}
{{ super() }}
<!--  fullcalendar  -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.0.0-rc/main.min.css" rel='stylesheet'/>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.0.0-rc/main.min.js"></script>
{% if calendar %}
{% with settings=calendar.get_settings() %}
<script>{% include 'fullcalendar.js' %}</script>
{% endwith %}
{% endif %}
{% endblock %}
{% block main %}

<main role="main">
    {% if calendar %}
    <div id='calendar-container'>
        <div id='calendar'></div>
    </div>
    {% else %}
    <div class="container">
        <div class="alert alert-warning" role="alert">
            Looks like you don't have any calendar selected. Select the one from the menu above or create a new one
        </div>
    </div>
    {% endif %}
</main>
{% if not current_user.is_verified %}
<script type="text/javascript">
    <!--  silly way to make reminder about email less annoying  -->
    random = Math.floor(Math.random() * 3)
    if (random === 0){
        renderModal('/auth/render_verify');
        $(window).on('load',function(){
            $('#modal').modal('show');
        });
    }
</script>
{% endif %}
{% endblock %}

