<div class="modal-header">
    <h5 class="modal-title">Change password</h5>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form id="modalForm" onsubmit="return false">
        <div class="form-group">
            <label for="password">Current password</label>
            <input class="form-control" id="password" name="oldPassword" placeholder="current password" type="password">
        </div>
        <div class="form-group">
            <label for="newPassword">New password</label>
            <input class="form-control" id="newPassword" name="newPassword" placeholder="new password" type="password">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
    <button class="btn btn-primary" form="modalForm" onclick="submit_modal(modalForm, modal, '/change_password')"
            type="submit">Save changes
    </button>
</div>
