<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport"/>
    <title>Togger - settings</title>
    <script crossorigin="anonymous"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel=icon href="{{ url_for('static', filename='favicon.png') }}" sizes="57x57" type="image/png">
    <script src="{{ url_for('static', filename='togger-utils.js') }}"></script>
    <link href="{{ url_for('static', filename='togger.css') }}" rel='stylesheet' />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <a class="navbar-brand" href="/">Togger</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Calendars</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item active" href="#">Default</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/auth/logout">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>

<main role="main" class="container">
<form action="/post_settings" method="post">
  <div class="form-group">
    <label for="scrollTime">scrollTime</label>
    <input type="text" class="form-control" name="scrollTime" id="scrollTime" placeholder="16:00:00" value="{{ settings.scrollTime }}">
  </div>
  <div class="form-group">
    <label for="firstDay">firstDay</label>
    <input type="text" class="form-control" name="firstDay" id="firstDay" placeholder="1" value="{{ settings.firstDay }}">
  </div>
  <div class="form-group">
    <label for="slotMinTime">slotMinTime</label>
    <input type="text" class="form-control" name="slotMinTime" id="slotMinTime" placeholder="09:00:00" value="{{ settings.slotMinTime }}">
  </div>
  <div class="form-group">
    <label for="firstDay">slotMaxTime</label>
    <input type="text" class="form-control" name="slotMaxTime" id="slotMaxTime" placeholder="29:00:00" value="{{ settings.slotMaxTime }}">
  </div>
  <div class="form-group">
    <label for="firstDay">nextDayThreshold</label>
    <input type="text" class="form-control" name="nextDayThreshold" id="nextDayThreshold" placeholder="09:00:00" value="{{ settings.nextDayThreshold }}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</main>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="modal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">
        </div>
    </div>
</div>


</body>
</html>
