<div class="modal-header">
    <h5 class="modal-title">Create calendar</h5>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">"{{ message }}"</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/api/v1/calendars/" class="mt-2" id="modalForm" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.calendarName(size=80, class_="form-control", placeholder="calendar name") }}
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
    {{ form.submit(class_="btn btn-primary", form='modalForm') }}
</div>
