{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block main %}
<main class="container" role="main">
    {% if calendar %}
    {% with settings=calendar.get_settings() %}
    <h1>Current settings for {{ calendar.name }}</h1>
    <form action="/api/v1/calendars/settings" method="post">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.scrollTime.label }}
            {{ form.scrollTime(value=settings.scrollTime) }}
        </div>
        <div class="form-group">
            {{ form.firstDay.label }}
            {{ form.firstDay(value=settings.firstDay) }}
        </div>
        <div class="form-group">
            {{ form.slotMinTime.label }}
            {{ form.slotMinTime(value=settings.slotMinTime) }}
        </div>
        <div class="form-group">
            {{ form.slotMaxTime.label }}
            {{ form.slotMaxTime(value=settings.slotMaxTime) }}
        </div>
        <div class="form-group">
            {{ form.nextDayThreshold.label }}
            {{ form.nextDayThreshold(value=settings.nextDayThreshold) }}
        </div>
        {{ form.submit() }}
        <button class="btn btn-danger float-right"
                onclick="renderModal('/render_delete')" type="button">
            Delete calendar
        </button>
    </form>
    {% endwith %}
    {% else %}
    <div class="alert alert-warning" role="alert">
        Looks like you don't have any calendar selected. Select the one from the menu above or create a new one
    </div>
    {% endif %}
</main>
{% endblock %}