{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block main %}
<main role="main" class="container">
    <h1>Current settings for {{ current_role().calendar.name }}</h1>
<form action="/post_settings" method="post">
  <div class="form-group">
    <label for="scrollTime">scrollTime</label>
    <input type="text" class="form-control" name="scrollTime" id="scrollTime" placeholder="16:00:00" value="{{ settings.scrollTime }}">
  </div>
  <div class="form-group">
    <label for="firstDay">firstDay</label>
    <input type="text" class="form-control" name="firstDay" id="firstDay" placeholder="1" value="{{ settings.firstDay }}">
  </div>
  <div class="form-group">
    <label for="slotMinTime">slotMinTime</label>
    <input type="text" class="form-control" name="slotMinTime" id="slotMinTime" placeholder="09:00:00" value="{{ settings.slotMinTime }}">
  </div>
  <div class="form-group">
    <label for="firstDay">slotMaxTime</label>
    <input type="text" class="form-control" name="slotMaxTime" id="slotMaxTime" placeholder="29:00:00" value="{{ settings.slotMaxTime }}">
  </div>
  <div class="form-group">
    <label for="firstDay">nextDayThreshold</label>
    <input type="text" class="form-control" name="nextDayThreshold" id="nextDayThreshold" placeholder="09:00:00" value="{{ settings.nextDayThreshold }}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
          <button class="btn btn-danger float-right"
                onclick="renderModal('/render_delete')" type="button">
            Delete calendar
        </button>
</form>
</main>
{% endblock %}