<div class="modal-header">
    <h5 class="modal-title">{{ event.title }}</h5>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <form id="modalForm" onsubmit="return false">
        {% if event.id %}
        <input id="eventId" name="eventId" type="hidden" value="{{ event.id }}">
        {% endif %}
        {% if event.group_id %}
        <input id="groupId" name="groupId" type="hidden" value="{{ event.group_id }}">
        {% endif %}
        <input id="allDay" name="allDay" readonly type="hidden" value="{{ event.all_day }}">
        <input id="startDateTime" name="startDateTime" readonly type="hidden" value="{{ event.start }}">
        <input id="endDateTime" name="endDateTime" readonly type="hidden" value="{{ event.end }}">
        <textarea class="form-control" readonly rows="3">{{ event.description }}</textarea>
        <ul class="list-group mt-1">
            {% for shift in event.shifts %}
            <label class="list-group-item mb-0 " for="ShiftCheckBox{{ shift.id }}">
                {{ shift.person }}
                <div class="float-right">
                    <input checked="true" class="form-check-input" id="ShiftCheckBox{{ shift.id }}"
                           name="ShiftCheckBox{{ shift.id }}" type="checkbox" value="true">
                    <input checked="false" name="ShiftCheckBox{{ shift.id }}" type="hidden" value="false">
                </div>
                </li>
            </label>
            {% endfor %}
        </ul>
        <div class="input-group mt-1">
            <input autofocus class="form-control " id="newName" name="newNameText"
                   placeholder="Put your or friend's name" type="text">
            <div class="input-group-append">
                <button class="btn btn-success"
                        onclick="signMyself('{{ current_user.first_name }}', '{{ current_user.last_name }}')"
                        type="button"
                >I'm in!
                </button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
    <button class="btn btn-primary" form="modalForm"
            onclick="submit_modal(modalForm, modal, '{{ url_for('event_api.post_shift') }}')"
            type="submit">Save changes
    </button>
</div>
